[Unit]
Description=Automated Nmap Scan
After=network.target

[Service]
Type=oneshot
Environment="NMAP_AUTO_RUN=true"
ExecStart=/path/to/your/nmap_scan_script.sh
WorkingDirectory=/path/to/projects/nmap-did-what
User=root
Group=root

[Install]
WantedBy=multi-user.target
